*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/reports
/captures
/.idea
LatamMobileAndroid.iml
gradle.properties
*.iml
.externalNativeBuild
libwebp
.log
nohup.out
.settings/
.classpath
.project
**/.settings/
**/.classpath
**/.project
